%card-button {
  margin: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
}

.movies-card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  // width: 360px;
}
.movies-card__add-button {
  @extend %card-button;
  padding: 0;
  width: 72px;
  background-color: #313131;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 0px;
  color: #fff;
  border-radius: 11px;
}
.movies-card__remove-button {
  @extend %card-button;
  background-color: #ee3465;
  width: 21px;
  border-radius: 50%;
}
.movies-card__remove-button_in-collection {
  background-color: #313131;
}
.movies-card__icon {
  width: 100%;
}
.movies-card__picture {
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
  @media (max-width: 800px) {
    height: 190px;
  }
  @media (max-width: 400px) {
    height: 168px;
  }
}
.movies-card__annotation-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 14px;
  justify-content: space-between;
  gap: 30px;
}
.movies-card__name {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.21;
  min-height: 32px;
}
.movies-card__duration {
  margin: 0;
  font-size: 11px;
  line-height: 0.91;
  background-color: #2f2f2f;
  color: #8b8b8b;
  border-radius: 3px;
  width: 52px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
