@import "../../commonStylles/commonStyles.scss";

.movies {
  @extend %section;
  padding-bottom: 0;
  background-color: $content-bg-color_dark;
}
.movies__extend-button {
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  border: none;
  background-color: #2f2f2f;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  color: #fff;
  border-radius: 6px;
}
