@import '../../commonStylles/commonStyles.scss';

.movies {
  @extend %section;
  padding-bottom: 0;
  background-color: $content-bg-color_dark;
  @media (max-width: 800px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.movies__extend-button {
  margin: 60px auto 80px;
  width: 320px;
  height: 36px;
  border: none;
  background-color: #2f2f2f;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  color: #fff;
  border-radius: 6px;
  @media (max-width: 500px) {
    width: 240px;
  }
}

.movies__extend-button_state_hidden {
  display: none;
}
