@import "../../commonStylles/commonStyles.scss";
.entry-form {
  @extend %section-modal;
}
.entry-form__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 396px;
}
.entry-form__heading {
  @extend %modal-title_text;
  text-align: left;
}
.entry-form__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.entry-form__input-label {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  gap: 10px;
}
.entry-form__input {
  margin: 0;
  padding: 15px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  background-color: $text-input-bkg;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
}
.entry-form__input-error {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  color: #ee3465;
  position: absolute;
  left: 0;
  bottom: 0;
}
.entry-form__submit-btn {
  margin: 71px 0 0 0;
  padding: 0;
  background-color: $blue-solid;
  width: 100%;
  height: 45px;
  color: #fff;
  border-radius: 3px;
}
.entry-form__mode-switch {
  margin: -4px 0 0 0;
  padding: 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.entry-form__mode-switch-link {
  margin: 0 0 0 6px;
  padding: 0;
  color: $blue-solid;
  text-decoration: none;
}
