@import "../../commonStylles/commonStyles.scss";

.saved-movies {
  @extend %section;
  background-color: $content-bg-color_dark;
  @media (max-width: 800px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
